.c_casestudyroll
    .row
        overflow: hidden
        text-align: center
        
        figure, aside 
            flex: 1 1 50%
            margin: 0
            padding: 0
            max-height: 450px
        
        aside
            h2
                font-size: 3em
                margin: 1rem auto
                font-family: "Playfair Display"
            button
                background-color: transparent
                color: white
                font-size: 0.6rem
                margin: 0
                padding: 0
            small
                font-weight: bold;
                text-transform: uppercase
                font-size: 0.6rem
                font-family: "Open Sans", sans-serif

        
            
