@import 'config'

.stats
  .container
    justify-content: space-between
  figure
    text-align: center
    padding: 1rem
    margin: 0
    figcaption
    font-size: 4rem
    small
      font-size: 2rem
    span
      margin-top: -1rem
      font-size: 1rem
      font-family: "Open Sans"