@import 'config'

.panel-container 
    display: flex
    @include notdesktop
        display: block

.panel
    padding: 1rem
    h3
        text-transform: uppercase
        font-size: 1.2rem
        margin-bottom: 0.8rem

.panel-left
    border-top: 2px solid $subtle-text
    border-right: 1px solid $subtle-text
    @include notdesktop
        border-right: 2px solid $subtle-text
        border-bottom: 1px solid $subtle-text

.panel-right
    border-bottom: 2px solid $subtle-text
    border-left: 1px solid $subtle-text
    @include notdesktop
        border-left: 2px solid $subtle-text
        border-top: 1px solid $subtle-text
